
## 安装

In [15]:
#  !pip install -U jqdatasdk

In [29]:
import jqdatasdk as jq
jq.__version__

# ebablbe auto-completion
%config Completer.use_jedi = False

## 登录

In [17]:
jq.auth('15821805807','!QAZse4rfvgy7')

## 使用

详见[JQData-本地量化数据说明书](https://www.joinquant.com/help/api/help#name:JQData)

In [18]:
# 查询当日剩余可调用条数，试用账号默认是每日100万条；正式账号是每日2亿条。
jq.get_query_count()

{'total': 1000000, 'spare': 999890}

In [24]:
#获取贵州茅台按天为周期以"2018-12-05"为基础往前5个交易日的数据
df = jq.get_bars('600519.XSHG', 100, unit='1d',fields=['date','open','high','low','close'],include_now=False,end_dt='2018-12-05')
df

          date    open    high     low   close
0   2018-07-10  729.00  731.50  713.33  725.76
1   2018-07-11  710.00  724.00  702.22  719.58
2   2018-07-12  718.00  741.17  718.00  737.54
3   2018-07-13  742.30  748.10  735.12  746.99
4   2018-07-16  752.30  764.11  751.03  754.68
..         ...     ...     ...     ...     ...
95  2018-11-28  550.85  559.19  545.50  557.00
96  2018-11-29  566.03  569.80  549.01  551.60
97  2018-11-30  557.00  568.89  553.00  565.00
98  2018-12-03  589.00  605.00  584.77  601.20
99  2018-12-04  602.99  604.26  595.00  602.23

[100 rows x 5 columns]

In [26]:
# 得到房地产开发投资情况表(月度累计)
q = jq.query(jq.macro.MAC_INDUSTRY_ESTATE_INVEST_MONTH).limit(100)
df = jq.macro.run_query(q)
df

timeout: timed out

In [ ]:
# 70个大中城市房屋销售价格指数(月度)
q = jq.query(jq.macro.MAC_INDUSTRY_ESTATE_70CITY_INDEX_MONTH).limit(100)
df = jq.macro.run_query(q)
df

In [22]:
#查询分地区农林牧渔业总产值表(季度累计) 的前10条数据
q = jq.query(jq.macro.MAC_INDUSTRY_AREA_AGR_OUTPUT_VALUE_QUARTER).limit(10)
df = jq.macro.run_query(q)
df

   id stat_quarter area_code area_name    total  farming  forestry  \
0   1      2015-06    350000       福建省  1240.10   430.40    101.20
1   2      2014-09    350000       福建省  2027.90   830.80    155.20
2   3      2015-03    350000       福建省   538.20   148.20     36.40
3   4      2014-12    350000       福建省  3247.11  1307.63    326.31
4   5      2017-03    350000       福建省   660.80   162.00     40.82
5   6      2017-06    350000       福建省  1505.01   480.23    107.17
6   7      2015-09    350000       福建省  2151.90   872.20    158.80
7   8      2016-06    350000       福建省  1456.14   492.99    101.08
8   9      2016-03    350000       福建省   629.10   169.37     37.68
9  10      2016-12    350000       福建省  3784.24  1474.49    318.28

   animal_husbandry  fishery
0            237.70   417.60
1            368.40   591.20
2            127.60   197.90
3            574.60   926.08
4            166.06   259.52
5            314.80   541.71
6            397.80   636.50
7            315.45   489.32
8            160.43   231.27
9            768.11  1091.29

In [30]:
df

          date    open    high     low   close
0   2018-07-10  729.00  731.50  713.33  725.76
1   2018-07-11  710.00  724.00  702.22  719.58
2   2018-07-12  718.00  741.17  718.00  737.54
3   2018-07-13  742.30  748.10  735.12  746.99
4   2018-07-16  752.30  764.11  751.03  754.68
..         ...     ...     ...     ...     ...
95  2018-11-28  550.85  559.19  545.50  557.00
96  2018-11-29  566.03  569.80  549.01  551.60
97  2018-11-30  557.00  568.89  553.00  565.00
98  2018-12-03  589.00  605.00  584.77  601.20
99  2018-12-04  602.99  604.26  595.00  602.23

[100 rows x 5 columns]