In [20]:
import pandas as pd
%matplotlib inline

In [2]:
dataset = pd.read_csv("atis_intents.csv", header=None)

In [3]:
dataset.head()

                  0                                                  1
0       atis_flight   i want to fly from boston at 838 am and arriv...
1       atis_flight   what flights are available from pittsburgh to...
2  atis_flight_time   what is the arrival time in san francisco for...
3      atis_airfare            cheapest airfare from tacoma to orlando
4      atis_airfare   round trip fares from pittsburgh to philadelp...

In [6]:
dataset[1]

0        i want to fly from boston at 838 am and arriv...
1        what flights are available from pittsburgh to...
2        what is the arrival time in san francisco for...
3                 cheapest airfare from tacoma to orlando
4        round trip fares from pittsburgh to philadelp...
                              ...
4973     what is the airfare for flights from denver t...
4974     do you have any flights from denver to baltim...
4975            which airlines fly into and out of denver
4976     does continental fly from boston to san franc...
4977     is there a delta flight from denver to san fr...
Name: 1, Length: 4978, dtype: object

In [12]:
for text in dataset[1].head():
    print(text)

 i want to fly from boston at 838 am and arrive in denver at 1110 in the morning
 what flights are available from pittsburgh to baltimore on thursday morning
 what is the arrival time in san francisco for the 755 am flight leaving washington
 cheapest airfare from tacoma to orlando
 round trip fares from pittsburgh to philadelphia under 1000 dollars

In [18]:
grouped = dataset.groupby(0).size()
print(grouped)

0
atis_abbreviation                            147
atis_aircraft                                 81
atis_aircraft#atis_flight#atis_flight_no       1
atis_airfare                                 423
atis_airfare#atis_flight_time                  1
atis_airline                                 157
atis_airline#atis_flight_no                    2
atis_airport                                  20
atis_capacity                                 16
atis_cheapest                                  1
atis_city                                     19
atis_distance                                 20
atis_flight                                 3666
atis_flight#atis_airfare                      21
atis_flight_no                                12
atis_flight_time                              54
atis_ground_fare                              18
atis_ground_service                          255
atis_ground_service#atis_ground_fare           1
atis_meal                                      6
atis_quantity                                 51
atis_restriction                               6
dtype: int64